<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="/static/reg.css">
</head>
<body>
    <div class="panel">
        <h1>Регистрация пользователя</h1>
        <form method="POST">
            <div class="input-field">
                <input type="email" id="email" name="email" required placeholder="Email:">
            </div>
            <div class="input-field">
                <input type="password" id="password" name="password" required placeholder="Пароль:">
            </div>
            <div class="input-field">
                <select id="orgName" name="orgName" required>
                    <option value="" disabled selected>Выберите организацию</option>
                    {% for org in organizations %}
                    <option value="{{ org.id }}">{{ org.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Зарегистрироваться">
        </form>
        {% if error_message %}
        <p>{{ error_message }}</p>
        {% endif %}
    </div>
</body>
</html>